<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/context/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/context/spring-mvc.xsd">

    <!--context与context/spring-context.xsd为注解扫描约束-->
    <!--aop/aop/spring-aop.xsd为aop约束-->

    <!--开启注解扫描 -->
    <context:component-scan base-package="com.yy.exercisespring"></context:component-scan>

    <!-- 配置视图解析器（InternalResourceViewResolver）-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"></property><!--不能写成WEB-INF/views/-->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--加载国际化资源文件-->
    <!--1.将ResourceBundleMessageSource在程序加载时加入mvc,springmvc在启动时会自动加载一个id="messageSource"的bean,如果有则自动加载-->
    <!--2.ResourceBundleMessageSource在mvc响应是接入-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="i18n.i18n"></property>
    </bean>


</beans>