<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--context与context/spring-context.xsd为注解扫描约束-->
    <!--aop/aop/spring-aop.xsd为aop约束-->

    <!--开启注解扫描 -->
    <context:component-scan base-package="com.yy.exercisespring"></context:component-scan>


    <!--此注解会忽略所有controller中的地址-->
    <mvc:view-controller path="/spring/mvc/testMvcViewController" view-name="success"></mvc:view-controller>
    <!--此配置是springmvc基础配置,很多功能都需要该注解来协调,例如可以让controller和view-controller共存-->
    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>
    <!--如果有对应的@RequestMapping,则交给spring处理,如果没有对应@RequestMapping,
    则交给默认的服务器(tomcat)servlet去处理,从而实现url直接访问静态资源-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>

    <!--1.将自定义转换器纳入ioc-->
<!--    <bean id="myConvert" class="com.yy.exercisespring.common.MyConvert"></bean>-->

<!--    &lt;!&ndash;2.将myConvert再纳入StringMvc提供的转换器bean&ndash;&gt;-->
<!--    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">-->
<!--        <property name="converters">-->
<!--            <set><ref bean="myConvert"></ref></set>-->
<!--        </property>-->
<!--    </bean>-->
    <!--3.将conversionService注册到annotation-driven-->

    <!-- 配置视图解析器（InternalResourceViewResolver）-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"></property><!--不能写成WEB-INF/views/-->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--加载国际化资源文件-->
    <!--1.将ResourceBundleMessageSource在程序加载时加入mvc,springmvc在启动时会自动加载一个id="messageSource"的bean,如果有则自动加载-->
    <!--2.ResourceBundleMessageSource在mvc响应是接入-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="i18n.i18n"></property>
    </bean>


</beans>