<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>springDispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!--不指定路径的话,默认找 /WEB-INF/springDispatcherServlet-servlet.xml-->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value> classpath:springMvc.xml</param-value>
    </init-param>
    <!--启动时已第一个身份自动生效-->
    <load-on-startup>1</load-on-startup>

  </servlet>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <!--/ 拦截所有请求，交给mvc处理  /user:拦截以/user开头的请求 .action:拦截以.action结尾的请求-->
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
